.profit {
  padding: 50px 0 70px;
  background-color: var(--gray-5);

  &__top {
    background-color: var(--green-100);
    border-radius: 12px;
    padding: 24px;
    color: var(--white);
    margin-bottom: 20px;

    & > p {
      margin-top: 24px;
    }

    & > * {
      max-width: 492px;
    }


  }

  &__list li {
    background: var(--white);
    padding: 24px;
    border-bottom: 1px solid var(--gray-30);

    &:nth-child(-n+2) > span {
      color: var(--green-100);
    }

    &:first-child {
      border-radius: 12px 12px 0 0;
    }

    &:not(:first-child) {
      position: relative;

      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath d='M16 3C13.4288 3 10.9154 3.76244 8.77759 5.1909C6.63975 6.61935 4.97351 8.64968 3.98957 11.0251C3.00563 13.4006 2.74819 16.0144 3.2498 18.5362C3.75141 21.0579 4.98953 23.3743 6.80762 25.1924C8.6257 27.0105 10.9421 28.2486 13.4638 28.7502C15.9856 29.2518 18.5995 28.9944 20.9749 28.0104C23.3503 27.0265 25.3807 25.3603 26.8091 23.2224C28.2376 21.0846 29 18.5712 29 16C28.9957 12.5535 27.6247 9.2494 25.1876 6.81236C22.7506 4.37532 19.4465 3.0043 16 3Z' fill='%23107A88'/%3E%3Cpath d='M17 17H21C21.2652 17 21.5196 16.8946 21.7071 16.7071C21.8946 16.5196 22 16.2652 22 16C22 15.7348 21.8946 15.4804 21.7071 15.2929C21.5196 15.1054 21.2652 15 21 15H17V11C17 10.7348 16.8946 10.4804 16.7071 10.2929C16.5196 10.1054 16.2652 10 16 10C15.7348 10 15.4804 10.1054 15.2929 10.2929C15.1054 10.4804 15 10.7348 15 11V15H11C10.7348 15 10.4804 15.1054 10.2929 15.2929C10.1054 15.4804 10 15.7348 10 16C10 16.2652 10.1054 16.5196 10.2929 16.7071C10.4804 16.8946 10.7348 17 11 17H15V21C15 21.2652 15.1054 21.5196 15.2929 21.7071C15.4804 21.8946 15.7348 22 16 22C16.2652 22 16.5196 21.8946 16.7071 21.7071C16.8946 21.5196 17 21.2652 17 21V17Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        top: -16px;
        left: 36px;
      }
    }

    &:last-child {
      border-radius: 0 0 12px 12px;
      background-color: var(--red-100);
      color: var(--white);
      position: relative;

      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.77759 5.1909C10.9154 3.76244 13.4288 3 16 3C19.4465 3.0043 22.7506 4.37532 25.1876 6.81236C27.6247 9.2494 28.9957 12.5535 29 16C29 18.5712 28.2376 21.0846 26.8091 23.2224C25.3807 25.3603 23.3503 27.0265 20.9749 28.0104C18.5995 28.9944 15.9856 29.2518 13.4638 28.7502C10.9421 28.2486 8.6257 27.0105 6.80762 25.1924C4.98954 23.3743 3.75141 21.0579 3.2498 18.5362C2.74819 16.0144 3.00563 13.4006 3.98957 11.0251C4.97351 8.64968 6.63975 6.61935 8.77759 5.1909Z' fill='%232F3B46'/%3E%3Cpath d='M10.2929 14.7071C10.4804 14.8946 10.7348 15 11 15H21C21.2652 15 21.5196 14.8946 21.7071 14.7071C21.8947 14.5196 22 14.2652 22 14C22 13.7348 21.8947 13.4804 21.7071 13.2929C21.5196 13.1054 21.2652 13 21 13H11C10.7348 13 10.4804 13.1054 10.2929 13.2929C10.1054 13.4804 10 13.7348 10 14C10 14.2652 10.1054 14.5196 10.2929 14.7071Z' fill='white'/%3E%3Cpath d='M10.2929 18.7071C10.4804 18.8946 10.7348 19 11 19H21C21.2652 19 21.5196 18.8946 21.7071 18.7071C21.8946 18.5196 22 18.2652 22 18C22 17.7348 21.8946 17.4804 21.7071 17.2929C21.5196 17.1054 21.2652 17 21 17H11C10.7348 17 10.4804 17.1054 10.2929 17.2929C10.1054 17.4804 10 17.7348 10 18C10 18.2652 10.1054 18.5196 10.2929 18.7071Z' fill='white'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        position: absolute;
        top: -16px;
        left: 36px;
      }

      & > p {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }

  &__list * p {
    margin-top: 10px;
  }
}


@include media-min($md) {
  .profit {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      grid-gap: 30px;
      align-items: flex-start;
    }

    &__top {
      margin-bottom: 0;

      & > p {
        font-size: 18px;
      }
    }

    &__decor {
      position: relative;
      max-width: 1100px;
      margin: 0 auto;

      &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='454' height='455' viewBox='0 0 454 455' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.6'%3E%3Cpath opacity='0.4' d='M228.323 406.465C129.593 406.465 49.2681 326.036 49.2681 227.277H98.7177C98.7177 252.934 106.32 278.014 120.562 299.347C134.805 320.68 155.048 337.308 178.733 347.126C202.418 356.945 228.48 359.513 253.624 354.508C278.767 349.503 301.863 337.148 319.99 319.006C338.118 300.863 350.463 277.748 355.464 252.584C360.465 227.42 357.899 201.337 348.088 177.633C338.278 153.929 321.664 133.669 300.348 119.415C279.033 105.161 253.972 97.5523 228.336 97.5523V48.1274C327.067 48.1274 407.391 128.556 407.391 227.328C407.391 326.1 327.054 406.465 228.323 406.465Z' fill='%23107A88'/%3E%3Cpath opacity='0.2' d='M228.751 357.183C194.295 357.183 161.25 343.484 136.886 319.1C112.522 294.716 98.8345 261.644 98.8345 227.16C98.8345 192.676 112.522 159.604 136.886 135.22C161.25 110.836 194.295 97.1375 228.751 97.1375V146.627C207.41 146.627 186.943 155.112 171.852 170.215C156.762 185.318 148.284 205.801 148.284 227.16C148.284 248.519 156.762 269.003 171.852 284.105C186.943 299.208 207.41 307.693 228.751 307.693V357.183Z' fill='%23107A88'/%3E%3Cpath opacity='0.2' d='M226.975 454.32V404.869C324.863 404.869 404.553 325.167 404.553 227.147C404.553 129.127 324.915 49.4249 226.975 49.4249C129.035 49.4249 49.3978 129.127 49.3978 227.147H0C0 101.898 101.829 0 226.975 0C352.122 0 453.95 101.898 453.95 227.147C453.95 352.396 352.122 454.32 226.975 454.32Z' fill='%23107A88'/%3E%3C/g%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        width: 408px;
        height: 205px;
        position: absolute;
        background-size: 408px;
        bottom: -70px;
        left: -110px;
      }
    }
  }
}


@include media-min($xl) {
  .profit {
    &__decor {
      &::before {
        width: 454px;
        height: 227px;
        background-size: 454px;
        bottom: -70px;
        left: -180px;
      }
    }
  }
}
