.header {
  &__mobile {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: var(--white);
    padding: 0 15px;
  }

  &__mobile-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 2;
    position: relative;
  }

  &__burger {
    height: 30px;
  }

  &__logo {
    height: 27px;
    cursor: pointer;

  }

  &__phone-icon {
    height: 32px;
    cursor: pointer;
  }

  &__mobile-bottom {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 600px;
    padding-top: 30px;
    z-index: 1;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: all 1s ease;
  }

  &__mobile-nav {
    text-align: center;

    & li {
      margin: 30px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  &__mobile-phone {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
  }


  &__desktop {
    display: none;
  }
}

.nav-list {
  & li {
    font-size: 14px;
    font-family: "NT Somic Medium";
  }
}

.phone a {
  color: var(--gray-100);
  text-decoration: none;
  font-family: "NT Somic Medium";
}

.open {
  transform: translateY(10%)
}

@include media-min($md) {
  .header {
    &__mobile {
      padding: 0 40px;
    }
  }
}

@include media-min($xl) {
  .header {
    &__mobile {
      display: none;
    }

    &__desktop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      padding: 20px 0;

    }

    &__desktop-nav {
      display: flex;


      & li {
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &__logo {
      justify-self: center;
    }

    &__desktop-phone {
      justify-self: end;
    }

  }
}