.header {
  &__mobile {}

  &__mobile-top {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: 3;
    position: fixed;
    transform: translateY(0);
    transition: all .2s ease;
  }

  &__logo {
    display: flex;
    flex-shrink: 0;
  }

  &__mobile-bottom {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-top: 100px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateY(-100%);
    transition: all .3s ease;
    z-index: 2;
  }

  &__mobile-nav {
    text-align: center;

    & li {
      margin: 30px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }


  &__mobile-phone {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 18px;
  }


  &__desktop {
    display: none;
  }
}

.open {
  transform: translateY(0);
  transition: all .5s ease;
}

.hide {
  transform: translateY(-100%);
  transition: all .3s ease;
}


.nav-list {
  & li {
    font-size: 14px;
    font-family: var(--font-medium);
  }
}

.phone a {
  color: var(--gray-100);
  text-decoration: none;
  font-family: var(--font-medium);
}


@include media-min($xl) {
  .header {
    &__mobile {
      display: none;
    }

    &__logo svg {
      width: 144px;
      height: 36px;
    }

    &__desktop {
      display: flex;
      align-items: center;
      padding: 20px 0;

      & > * {
        flex-basis: 100%;
      }

    }

    &__desktop-nav {
      display: flex;
      justify-content: start;


      & li {
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }
      }
    }

    &__logo {
      display: flex;
      justify-content: center;
      flex-shrink: 1;
    }

    &__desktop-phone {
      display: flex;
      justify-content: end;

    }

  }
}
