// COLORS


:root {
  --accent: #4d5acf;
  --white: #FFFFFF;
  --black: #141414;
  --gray-60: #717B84;
  --gray-30: #DADFE3;
  --gray-5: #F8F9F9;
  --green-100: #107A88;
  --red-100: #CC3D29;
  --st-bg: #EBF9FB;
  --blue: #4d5acf;


  --card-border-radius: 12px;

  --h3-font-size: 22px;
  --h3-color: #141414;
  --p-font-size: 14px;

  --main-font: "NT Somic";
  --font-medium: "NT Somic Medium";

  --main-text-color: var(--black);
  --main-bg-color: var(--st-bg);
}

//BREAKPOINTS FOR MOBILE FIRST
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Fonts


$font-hd: 32px;
$font-h1: 32px;
$font-h2: 26px;
$font-h3: 22px;
$font-h4: 18px;
$font-sm: 12px;


$font-h2-xl: 32px;
